@tailwind base;
@tailwind components;
@tailwind utilities;

#app {
  --widthSidebar: 19.5rem;
  --maxHeightHeaderChatView: 66px;
  --heightMessagebar: 55px;
  --maxWidthMessageBox: 1224px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  @apply bg-dark-theme-background;
  @apply rounded-full;
}

::-webkit-scrollbar-thumb {
  @apply bg-dark-theme-surface;
  @apply border-solid border-x-[1px] border-y-[1px] border-dark-theme-on-surface;
  @apply rounded-full;
}

::-webkit-scrollbar-thumb:hover {
  @apply bg-dark-theme-text-background;
}
